<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Add New [[${entityName}]]</title>
  </head>
  <body>
    <h1>Add New [[${entityName}]]</h1>

    <form th:action="@{/add}" method="post">
      <input type="hidden" name="entityName" th:value="${entityName}" />

      <div th:each="field : ${fields}">
        <div class="form-group">
          <label th:for="${field['fieldName']}"
            >[[${field['fieldName']}]] ([[${field['fieldType']}]]):</label
          >
          <input
            type="text"
            th:id="${field['fieldName']}"
            th:name="${field['fieldName']}"
            required
          />
        </div>
      </div>

      <button type="submit">Create [[${entityName}]]</button>
    </form>

    <a th:href="@{/}">Back to entity selection</a>
  </body>
</html>
