<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="'Add New ' + ${entityName}">Add New Entity</title>
  </head>
  <body>
    <h1 th:text="'Add New ' + ${entityName}"></h1>

    <form action="/add" method="post">
      <input type="hidden" name="entityName" th:value="${entityName}" />

      <!-- Loop through fields (in Thymeleaf it's similar to Mustache) -->
      <div th:each="field : ${results}">
        <div class="form-group">
          <label
            th:for="${field.key}"
            th:text="${field.key} + ' (' + field.value.getClass().getSimpleName() + ')'"
          ></label>
          <input
            type="text"
            th:id="${field.key}"
            th:name="${field.key}"
            required
          />
        </div>
      </div>

      <button type="submit" th:text="'Create ' + ${entityName}">Create</button>
    </form>

    <a href="/">Back to entity selection</a>
  </body>
</html>
