<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="'Add New ' + ${entityName}">Add New Entity</title>
  </head>
  <body>
    <h1 th:text="'Add New ' + ${entityName}"></h1>

    <!-- Loop through fields (in Thymeleaf it's similar to Mustache) -->
    <table>
      <thead>
        <tr >
          <div th:each="key : ${results[0].keySet()}">
            <th th:text="${key}"></th>
          <div/>
        </tr>
      </thead>
      <tbody>
        <tr th:each="item : ${results}">
                <div th:each="entry : ${item.entrySet()}">
                  <td th:text="${entry.value}">Value</td>
                </div>
        </tr>
      </tbody>
    </table>

    <button type="submit" th:text="'Create ' + ${entityName}">Create</button>
    <a href="/">Back to entity selection</a>
  </body>
</html>
