<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div
      th:fragment="entityTable(entityName, tableName, headers, results, config)"
    >
      <table>
        <thead th:if="${config.showHeaders}">
          <tr>
            <th th:each="header : ${headers}">
              <a
                th:if="${config.ordering}"
                th:href="${config.baseUrl + '?' + config.entityName + '_order=' + header + (config.reverseOrder && config.orderColumn == header ? '_asc' : '_desc') + '&' + config.entityName + '_page=' + config.currentPage}"
                th:text="${header}"
              ></a>
              <span th:if="${config.ordering && config.orderColumn == header}">
                <span th:if="${!config.reverseOrder}">↓</span>
                <span th:if="${config.reverseOrder}">↑</span>
              </span>
              <span th:if="${!config.ordering}" th:text="${header}"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="row : ${results}">
            <td
              th:each="entry : ${row.entrySet()}"
              th:text="${entry.value}"
            ></td>
          </tr>
        </tbody>
      </table>

      <div th:if="${config.pagination}">
        <div>
          <!-- Pagination controls -->
          <a
            th:if="${config.currentPage > 1}"
            th:href="${config.getPrevPageUrl()}"
            >Previous</a
          >
          <span
            th:text="'Page ' + ${config.currentPage} + ' of ' + ${config.totalPages}"
          ></span>
          <a
            th:if="${config.currentPage < config.totalPages}"
            th:href="${config.getNextPageUrl()}"
            >Next</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
